
body {
  background: linear-gradient(to right, rgba(195,9,12,1) 0%, rgba(177,8,15,1) 17%, rgba(170,8,16,1) 23%, rgba(171,13,21,1) 34%, rgba(171,13,21,1) 35%, rgba(209,21,27,1) 50%, rgba(171,13,21,1) 65%, rgba(171,13,21,1) 80%, rgba(171,13,21,1) 86%, rgba(168,21,33,1) 100%);
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}
.Redback{
  padding-left:  450px;
}

.TheTitle {
  position:relative; /* make the position relative for we can animated*/
      background:white;
      text-align: center;
      cursor: pointer;
      transform: skew(-5deg, -5deg) rotate(5deg);
      border: none;
      padding: 15px 24px; /*grow the size of the box*/
      font-size: 5rem;
      box-shadow: -6px 6px hsl(16, 0%, 98%);
      outline:none;
      color: Black;

      text-shadow: 1px 1px Black,
                 2px 2px Black,
                 3px 3px Black,
                 4px 4px Black,
                 5px 5px Black,
                 6px 6px Black,
                 7px 7px Black,
                 8px 8px Black,
                 9px 9px Black,
                 10px 10px Black,
                 11px 11px rgba(0,0,0,0.5);
}





    .TheTitle:active {
        background: hsl(352, 84%, 44%);
        top: 3px;
        left: -3px;
        box-shadow: -3px 3px 0 hsl(352, 84%, 44%);
          border-top: solid 6px hsl(352, 84%, 44%);

    }

    <  .TheTitle::before {
        position: absolute;
        display: block;
        content: "";
        height: 0px;
        width: 0px;

        border: solid 6px transparent;
        border-right: solid 6px hsl(16, 0%, 98%);
        border-left-width: 0;
        background:none;
        top:0;
        left: -6px
    }
    .TheTitle::after {
        position: absolute;
        display: block;
        content: "";
        height: 0px;
        width: 0px;

        border: solid 6px transparent;
        border-top: solid 6px hsl(16, 0%, 98%);
        border-bottom-width: 0;
        right:0;
        bottom: -6px;
    }


 .TheSecond {

   text-align: center;
   z-index: -1;

 }

 .boxName {
   font-size: 1rem;
   top: 10px;
   margin-top: 15px;
   text-align: center;
   padding: 7px 4px;
 }
